{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ product.name|title }}
{% endblock %}

{% block content %}
  <div class="product-detail">
      <div class="col-sm-4">
        <img src="{{ product.image.url }}" class="img-responsive">
      </div>
      <div class="col-sm-8">
         <h1>{{ product.name }}</h1>
            <h2><a href="shop/category/{{ product.category.id }}">{{ product.category }}</a></h2>
         <p class="price">
        {{ product.price }} руб.
         </p>
        <span>
        {{ product.description | linebreaks}}
         </span>
         <form action="/cart/CartAdd/{{product.id}}/" method="POST">
                  {% csrf_token %}
             <input type="submit" value="Добавить в корзину">
         </form>
      </div>
  </div>
{% endblock %}