* {
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 120px !important;
}
body a {
    color: black;
}
body a:hover, nav.top_menu a, footer a, #sidebar a {
    color: #ffd25a;
}
.container_shop {
     margin: 10px;
}
.container_top, #promo_text {
    color: #ffd25a;
    background-color: #323b44;
}
.container_top a {
    text-decoration: none;
    margin-right: 10px;
}
.top_menu {
    float: left;
    margin: 20px;
}
.promo {
    display: flex;
    align-items: center;
}

.cart_top {
    float: right;
    margin: 10px;
}
.cart_header {
    background-color: #ffd25a;
    margin: 20px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
li {
    list-style: none;
}
.cart_toggled {
    min-width: 40%;
    background-color: #ffd25a;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
    z-index: 1;
    border-left: 7px solid white;
    padding: 10px;
}
#promo_text {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 0;
}
.thumbnail {
    display: block;
    margin-top: 30px;
}
.img-responsive {
    margin-top: 100px;
}
#main {
    margin-bottom: 65px;
}
.shop_category {
    font-size: 17px;
    background-color: grey;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#contacts form {
    margin-top: 35px;
    margin-bottom: 35px;
}
#sidebar  {
    margin-top: 65px;
}
.footer {
    background-color: #323b44;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    color: #ffd25a;
}
