{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<div class="row">
    <div id="logo" class="col-md-3"> <img  src="{% static '/img/logo.png' %}"> LOGO </div>
    <div class="col-md-2">
        <br>
        <br>
    </div>
    <div class="promo_text col-md-7">
    <br><br>Lorem. We aim high at being focused on
        building relationships with our clients and community.</div>

    <!--CART-->
    <div class="cart_top col-md-1">
        <!--<img id="cart" src="{% static '/img/1.jpg' %}">-->
    <!--    <sup id="cart_total_nmb">-->
    <!--        {% if products_total_nmb %}-->
    <!--        ({{products_total_nmb}})-->
    <!--        {% else %}-->
    <!--        (0)-->
    <!--        {% endif %}-->
    <!--    </sup>-->
    </div>
</div>
<!--CART toggled-->
<!--<div class="cart_toggled hidden">-->
<!--    {% include 'cart/details.html' %}-->
<!--</div>-->
{% include 'inc/inc-header.html' %}
{% endblock %}
{% block pix %}
    <div class="container">
         <div class="row">        {% include 'inc/pix-promo.html' %}
         </div>
    </div>
{% endblock %}

{% block content %}
{% include 'shop.html' %}
{% endblock %}