{% load staticfiles %}

{% for category in categories %}
<section>
    <p class="shop_category text-center grp-collapse">
        <a href="{{ category.url }}">{{ category.name }}</a>
    </p>
    <div class="row">
         {% for product in products %}

        <div class="thumbnails col-md-3 col-xs-">

              <div class="thumbnail">
                    <img src="http://placehold.it/300x200"
                         alt="{{ product.name }}">
                    <!--"{% static '{{ product.image }}' %}"-->
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.category }}</p>
                    <p>{{ product.price }}</p>
                  <a href="cart/CartAdd/{{product.id}}">Добавить в корзину</a>
              </div>

         </div>
        {% endfor %}
    </div>
</section>
{% endfor %}