{% load staticfiles %}

{% for category in categories %}
<section>
    <p class="shop_category text-center grp-collapse">
        <a href="shop/category/{{ category.id }}/">{{ category.name }}</a>
    </p>
    <div class="row">
         {% for product in products %}

        <div class="thumbnails col-md-3 col-xs-">
              <div class="thumbnail">
                     <form id="form_buying_product" action="{% url 'cart_adding' %}" method="POST" >
                    <a href="/shop/product/{{product.id}}">
                        <img src="{{ product.image }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.category }}</p>
                        <p>{{ product.price }}</p>
                    </a>
                      {% csrf_token %}
                         <!--<input type="number" class="form-control" id="number" min="1" value="1">-->

                         <!--<div class="form-group">-->
                             <!--<button type="submit" id="submit_btn" class="btn btn-success btn-buy"-->
                                     <!--data-product_id="{{ product.id }}" data-name="{{ product.name }}"-->
                                     <!--data-price="{{ product.price.url }}">Купить-->
                             <!--</button>-->
                         <!--</div>-->
                  </form>
              </div>
         </div>
        {% endfor %}
    </div>
</section>
{% endfor %}
<script src="{% static 'js/scripts.js/' %}"></script>
