{% extends 'base.html' %}

{% load static %}

{% block title %}
{% endblock %}

{% block content %}

  <div id="main" class="product_list col-sm-9">
    <div class="row">
      {% for product in products %}
        <div class="item col-sm-3">
<form action="cart/CartAdd/{{product.id}}" method="post">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.jpg'%}{% endif %}" class="img-responsive">
          </a>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
          {{ product.price }} руб.
        </div>

    {{ cart_product_form }}
    {% csrf_token %}
        <input type="submit" value="Добавить в корзину"></form>
      {% endfor %}
    </div>
  </div>
{% endblock %}</code>
</pre>