{% load staticfiles %}
    <div class="container_top">
        <div class="row">
            <div class="col-xs-12">
                <nav class="top_menu col-md-9">

                    {% block menu %}
                    {% include 'inc/inc-menu.html' %}
                    {% endblock %}

                </nav>
        <!--CART-->

                <!--<div class="cart_top" >-->
                <!--<img id="cart" src="{% static '/img/1.jpg/' %}">-->
                <!--      <sup id="cart_total_nmb">-->
                <!--        {% if products_total_nmb %}-->
                <!--       ({{products_total_nmb}})-->
                <!--       {% else %}-->
                <!--        (0)-->
                <!--        {% endif %}-->
                <!--    </sup>-->
                <!--</div>-->
            </div>
        </div>
    </div>
        <!--CART toggled-->
    <div class="cart_toggled hidden">
        {% include 'cart/details.html' %}
    </div>

