{% load staticfiles %}
<div class=" nav container_top">
    <div class="row">

            <nav class="top_menu col-md-11">

                {% block menu %}
                {% include 'inc/inc-menu.html' %}

                <!--CART-->
                <div class="cart_top text-left">
                    <span id="cart">Корзина</span>
                    <sup id="cart_total_nmb">
                        {% if products_total_nmb %}
                       ({{products_total_nmb}})
                       {% else %}
                        (0)
                        {% endif %}
                    </sup>
                </div>
            </nav>

    </div>
        <!--CART toggled-->
    <div class="cart_toggled hidden text-right">
        {% include 'cart/details.html' %}
            {% endblock %}
    </div>
</div>
