{% load staticfiles %}
<div class="col-md-3">
   <ul>
       {% for category in categories %}
       <li> <a href="/shop/category/{{ category.id }}/">{{ category.name }}</a> </li>
       {% endfor %}
   </ul>
</div>
<div class="col-md-3">
   <ul>
       <li> +7 (777) 77 77 77</li>
       <li> <a href="mailto:magazine@magaz.in">magazine@magaz.in</a></li>
   </ul>
</div>
<div class="col-md-3">г. Москва, ул. Московская, д. 93</div>
<div class="links col-md-3">
        <a href='https://www.facebook.com'><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href='https://www.vk.com'><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
        <a href='https://www.tg.me'><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>


</div>