{% load staticfiles %}
    <div class="promo">
        <div class="promo_imgs">
            <a href="/sale/"><img src="{% static '/img/pic7.jpg/' %}"></a>
        </div>
        <div class="promo_imgs">
            <a href="/sale/"><img src="{% static '/img/pic8.jpg/' %}"></a>
            <a href="/sale/"><img src="{% static '/img/pic3.jpg/' %}"></a>
        </div>

        <div class="promo_text"> Lorem. We aim high at being focused on building relationships with our clients and community.
        </div>
    </div>
