{% load staticfiles %}
    <div class="promo">
        <div class="promo_imgs">
            <a href="#"><img src="{% static '/img/pic07.jpg/' %}"></a>
        </div>
        <div class="promo_imgs">
            <a href="#"><img src="{% static '/img/pic08.jpg/' %}"></a>
            <a href="#"><img src="{% static '/img/pic03.jpg/' %}"></a>
        </div>

        <div class="promo_text"> Lorem. We aim high at being focused on building relationships with our clients and community.
        </div>
    </div>
